<a href="https://colab.research.google.com/github/lalit-kumr/Cyber-Security-Case-Study/blob/main/Cyber%20Security%20Case%20Study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##NETWORK INTRUSION DETECTION

### Your task to build network intrusion detection system to detect anamolies and attacks in the network

In [1]:
# importing importing modules
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
import imblearn

/usr/local/lib/python3.7/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)

### Importing data

In [2]:
smurf = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_Smurf.csv')
satan = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_Satan.csv')
root_kit = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_RootKit.csv')
port_sweep = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_PortSweep.csv')
normal = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_Normal.csv')
neptune = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_Neptune.csv')
nmap = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_NMap.csv')
guess_pass = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_GuessPassword.csv')
ftp_write = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_FTPWrite.csv ')
buffer_overflow = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back_BufferOverflow.csv')
back = pd.read_csv('https://github.com/lalit-kumr/Cyber-Security-Case-Study/raw/main/Data_of_Attack_Back.csv')
back.head()

  attack  duration  ...   dst_host_rerror_rate   dst_host_srv_rerror_rate
0   back       0.0  ...                    0.0                        0.0
1   back       0.0  ...                    0.0                        0.0
2   back       0.0  ...                    0.0                        0.0
3   back       0.0  ...                    0.0                        0.0
4   back       0.0  ...                    0.0                        0.0

[5 rows x 42 columns]

### Joining df's

In [4]:
list_of_df = [smurf,
              satan,
              root_kit,
              port_sweep,
              normal,
              neptune,
              nmap,
              guess_pass,
              ftp_write ,
              buffer_overflow,
              back]


df = pd.concat(list_of_df, ignore_index=True, sort=False)

### Creating a new column called activity
- if df.attack is normal, then '*normal*'
- if df.attack is anykind of attack, then '*attack*'

In [12]:
df['activity'] = np.where(df['attack']=='normal','normal','attack')

In [13]:
df.select_dtypes(include=['O'])

       attack activity
0       smurf   attack
1       smurf   attack
2       smurf   attack
3       smurf   attack
4       smurf   attack
...       ...      ...
817546   back   attack
817547   back   attack
817548   back   attack
817549   back   attack
817550   back   attack

[817551 rows x 2 columns]

### NA values

In [6]:
df.isna().sum()

#no na values

attack                          0
duration                        0
 protocol_type                  0
 service                        0
 flag                           0
 src_bytes                      0
 dst_bytes                      0
 land                           0
 wrong_fragment                 0
 urgent                         0
 hot                            0
 num_failed_logins              0
 logged_in                      0
 num_compromised                0
 root_shell                     0
 su_attempted                   0
 num_root                       0
 num_file_creations             0
 num_shells                     0
 num_access_files               0
 num_outbound_cmds              0
 is_host_login                  0
 is_guest_login                 0
 count                          0
 srv_count                      0
 serror_rate                    0
 srv_error_rate                 0
 rerror_rate                    0
 srv_rerror_rate                0
 same_srv_rate                  0
 diff_srv_rate                  0
 srv_diff_host_rate             0
 dst_host_count                 0
 dst_host_srv_count             0
 dst_host_same_srv_rate         0
 dst_host_diff_srv_rate         0
 dst_host_same_src_port_rate    0
 dst_host_srv_diff_host_rate    0
 dst_host_serror_rate           0
 dst_host_srv_serror_rate       0
 dst_host_rerror_rate           0
 dst_host_srv_rerror_rate       0
dtype: int64

### Label encoding

In [10]:
df.select_dtypes(include='O')

       attack
0       smurf
1       smurf
2       smurf
3       smurf
4       smurf
...       ...
817546   back
817547   back
817548   back
817549   back
817550   back

[817551 rows x 1 columns]

### Outlier removal

In [8]:
df.describe()

            duration  ...   dst_host_srv_rerror_rate
count  817551.000000  ...              817551.000000
mean        0.000877  ...                   0.005279
std         0.026636  ...                   0.022070
min         0.000000  ...                   0.000000
25%         0.000000  ...                   0.000000
50%         0.000000  ...                   0.000000
75%         0.000000  ...                   0.000000
max         1.000000  ...                   0.100000

[8 rows x 41 columns]

In [9]:
from scipy.stats.mstats import winsorize

winsorize(df, limits=[0.05, 0.05])

TypeError: ignored

### Profile report